Repository suxxus-react/metric-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc-files --noEmit

.lintstagedrc.json:

{
  "*.tsx": ["prettier --write", "eslint"],
  "*.ts": ["prettier --write", "eslint", "tsc-files --noEmit"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

Update tsconfig.json
  tsconfig.json
Due: none

Add script
  README.md
  package.json
Due: none

Fix lint Errors
  src/components/Footer.stories.tsx
  src/components/Header.stories.tsx
  src/components/Logged-header.stories.tsx
  src/components/Login-with-social-account.stories.tsx
Due: prettier --write, eslint

Update husky rules
  .lintstagedrc.json
Due: none

Add new error
  .lintstagedrc.json
  src/components/Fixtures.ts
  src/components/Metric-editor.tsx
  src/metricDataHelpers.ts
  src/metricfun.types.ts
  src/reducers.ts
Due: prettier --write, eslint, tsc-files --noEmit

Update eslint configuration
  .eslintrc
  .lintstagedrc.json
  package.json
Due: none

Update husky config
  .lintstagedrc.json
Due: none

Minor changes
  .eslintrc
  .lintstagedrc.json
  src/components/Metric-editor.tsx
Due: prettier --write, eslint

Update README.md
  README.md
Due: none

Fix show chart error
  src/metricDataHelpers.ts
Due: prettier --write, eslint, tsc-files --noEmit

Update env
  .eslintrc
  .husky/pre-commit
Due: none

Update env
  .eslintrc
Due: none

Update eslint rules
  .eslintrc
Due: none
